#container-contact {
    margin-bottom: 95px;
}

#map{
    height: 650px;
    width: 50%;
    margin-top: 70px;
}
#formulaire-contact{
    padding: 25px;
    width: 50%;
    height: 600px;
    color: white;
    margin-top: 70px;
    background-color: #265643;
}
.btn{
    background-color: #265643;
    border-color: rgb(0, 255, 0);
}


#contact-media a{
    text-decoration: none;
    color: black;
    font-size: 22px;   
}



/* FontFamilly */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Kablammo&display=swap');
  /*font-family: 'Barlow Condensed', sans-serif; */

h2 {
    font-size: 42px;
    font-family: 'Barlow Condensed', sans-serif;
}